* {
  margin: 0;
  padding: 0;
}

/* Calculator style */
section {
  width: 310px;
  margin: 50px auto;
  background: #639;
  border: none;
  border-radius: 10px;
  padding: 10px 20px 20px;
}
#answer,
#inputs {
  padding: 5px;
  box-sizing: border-box;
  width: 310px;
  height: 50px;
  border: none;
  text-align: right;
}
#answer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 150%;
}
#inputs {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 200%;
}
input[type="button"] {
  width: 75px;
  height: 75px;
  font-size: 25px;
  border-radius: 5px;
  background-color: #639;
  color: aliceblue;
  cursor: pointer;
}
